:host
    margin: 25px
    mat-card
        .details
            margin-bottom: 10px
        mat-card-title
            margin-top: 10px
            font-weight: 900
        .actions
            width: 100%
            display: flex
            flex-flow: row nowrap
            justify-content: center