<div class="profile">
    <div class="header">
        <div class="background">
            <div class="alias">
                <h1 id="name">RZWSHRE</h1>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="posts"></div>
        <div class="sidebar">
            <div class="badges">
                <h3>Badges</h3>
                <div class="holder">
                    <div class="badge red">True Chad</div>
                    <div class="badge">OG</div>
                    <div class="badge">Supporter</div>
                </div>
            </div>
            <div class="stats">
                <h3>Stats</h3>
                <div class="holder">
                    <div class="stat"><span>Chadpoints</span>69,420</div>
                    <div class="stat"><span>Created</span>1 year ago</div>
                    <div class="stat"><span>Posts</span>69</div>
                    <div class="stat"><span>Comments</span>69</div>
                    <div class="stat"><span>Hubs Joined</span>10</div>
                </div>
            </div>
            <div class="hubs">
                <h3>Hubs</h3>
                <div class="hublist">
                    <div class="hub">Chadbox</div>
                    <div class="hub">Anime</div>
                    <div class="hub">Dank</div>
                    <div class="hub">Shitposting</div>
                    <div class="hub">Gaming</div>
                    <div class="hub">Titanfall 2</div>
                </div>
            </div>
        </div>
    </div>
</div>