:host
    display: flex
    flex-flow: row nowrap
    height: 100%
    width: 90%
    overflow: hidden
    margin: 0 5%
    
    .postview
        margin: 0.5%
        height: 98%
        border-radius: 5px
        background: gray
        width: 80%
        overflow-y: scroll

    .sidebar
        height: 100%
        width: 20%
        background: pink